In [1]:
# Imports
import pandas as pd
import pickle
from pathlib import Path

In [2]:


# Portfolio 2: Vanguard Total Stock Market ETF
vanguard_total_stock_etf = {
    'VTI': 100
}

# Portfolios 179-183: Fidelity Index Focused Models
fidelity_index_focused_models = {
    'FXAIX': 35,  
    'FSMDX': 3,
    'FSSNX': 4,
    'FSGGX': 18,
    'FXNAX': 35,
    'FCONX':3,
    # Replaced SPRXX with BIL as no data on yahoo finanne
    'BIL': 2
}

# Rick Ferri's Core 4
rick_ferris_core = {
    'VTSAX': 48,  
    'VTIAX': 24,
    'VNQ': 8,
    'VBTLX': 20  
}
    
# Betterment Portfolios
betterment = {
    'VFIAX': 15, 
    'VVIAX': 15, 
    'VTMGX': 15, 
    'VEMAX': 6, 
    'VIMAX': 5, 
    'VSMAX': 4, 
    'VIPSX': 20, 
    'VSBSX': 20 
}

all_portfolios = [
    vanguard_total_stock_etf,
    fidelity_index_focused_models,
    rick_ferris_core,
    betterment
]

# Ticker to name library
ticker_library = {
    'VTI': 'Vanguard Total Stock Market ETF',
    'FXAIX': 'Fidelity 500 Index Fund',
    'FSMDX': 'Fidelity Mid Cap Index Fund',
    'FSSNX': 'Fidelity Small Cap Index Fund',
    'FSGGX': 'Fidelity Ex-US Global Index Fund',
    'FXNAX': 'Fidelity US Bond Index Fund', 
    'FCONX': 'Fidelity Conservative US Bond Fund', 
    'SPRXX': 'Fidelity Core Money Market Fund',
    'VTSAX': 'Vanguard Total Stock Market Fund',
    'VTIAX': 'Vanguard Total International Stock Market Fund',
    'VGSLX': 'Vanguard REIT Index Fund',
    'VFIAX': 'Vanguard US Total Stock Market Index Fund',
    'VVIAX': 'Vanguard Value Index Fund',
    'VTMGX': 'Vanguard Developed Markets Index Fund',
    'VEMAX': 'Vanguard Emerging Markets Index Fund',
    'VIMAX': 'Vanguard Mid Cap Index Fund',
    'VSMAX': 'Vanguard Small Cap Value Index Fund',
    'VIPSX': 'Vanguard Inflation-Protected Securities Fund',
    'VSBSX': 'Vanguard Short Term Treasury Index Fund',
    'VBTLX': 'Vanguard Total Bond Market Fund'
}

In [11]:

# df close prices

all_funds_df = pd.DataFrame()

for key in all_portfolios:
    for key in key:
        # Create dataframe from CSV file
        df = pd.read_csv(f"./data/{key}.csv")
        
        # Drop columns and set date index for concat
        df = df[['Date','Close']].set_index('Date')
        
        # Rename to Ticker
        df = df.rename(columns={'Close':key})
        
        # Concat to empty dataframe
        all_funds_df = pd.concat([all_funds_df, df], axis=1)
        

# drop na values 
all_funds_df = all_funds_df.dropna()

# review
all_funds_df.head()

,VTI,FXAIX,FSMDX,FSSNX,FSGGX,FXNAX,FCONX,BIL,VTSAX,VTIAX,VNQ,VBTLX,VFIAX,VVIAX,VTMGX,VEMAX,VIMAX,VSMAX,VIPSX,VSBSX
Date,,,,,,,,,,,,,,,,,,,,
2011-09-09,59.450001,41.020000,9.73,9.70,9.71,11.85,9.98,91.699997,28.940001,22.830000,55.060001,11.06,106.769997,18.750000,9.95,34.470001,84.459999,30.860001,14.30,20.400000
2011-09-12,59.869999,41.299999,9.78,9.78,9.50,11.82,9.98,91.699997,29.139999,22.540001,55.240002,11.04,107.510002,18.870001,9.82,34.029999,84.900002,31.090000,14.25,20.379999
2011-09-13,60.470001,41.689999,9.92,9.96,9.57,11.80,9.98,91.680000,29.459999,22.730000,55.369999,11.02,108.529999,19.020000,9.93,34.080002,86.150002,31.660000,14.18,20.379999
2011-09-14,61.330002,42.259998,10.08,10.13,9.64,11.80,9.98,91.680000,29.879999,22.850000,55.730000,11.02,109.989998,19.250000,10.04,33.910000,87.620003,32.209999,14.17,20.389999
2011-09-15,62.400002,42.990002,10.23,10.27,9.82,11.77,9.98,91.680000,30.370001,23.299999,56.650002,10.99,111.910004,19.590000,10.27,34.270000,88.730003,32.660000,14.13,20.379999

In [12]:
# Save to PKL

dataframe = all_funds_df
output = open('all_funds_df.pkl', 'wb')
pickle.dump(dataframe, output)
output.close()