In [35]:
# Imports
import pandas as pd
from datetime import date
import pickle
from pathlib import Path
from utils import *

In [36]:
portfolio_start_date = '2013-01-02'

In [47]:
# Portfolio 2: Vanguard Total Stock Market ETF
vanguard_total_stock_etf = pd.DataFrame(
    columns=['VTI'],
    data=[[100]]
)

# Save to PKL

dataframe = vanguard_total_stock_etf
output = open(Path('./Resources/vanguard_total_stock_etf.pkl'), 'wb')
pickle.dump(dataframe, output)
output.close()

vanguard_total_stock_etf

   VTI
0  100

In [49]:
# Portfolios 179-183: Fidelity Index Focused Models
# Replaced SPRXX with BIL as no data on yahoo finanne

fidelity_index_focused_models = pd.DataFrame(
    columns=['FXAIX','FSMDX','FSSNX','FSGGX','FXNAX','FCONX','BIL'],
    data=[[35,3,4,18,35,3,2]]
)

# Save to PKL

dataframe = fidelity_index_focused_models
output = open(Path('./Resources/fidelity_index_focused_models.pkl'), 'wb')
pickle.dump(dataframe, output)
output.close()

fidelity_index_focused_models

   FXAIX  FSMDX  FSSNX  FSGGX  FXNAX  FCONX  BIL
0     35      3      4     18     35      3    2

In [39]:
# Rick Ferri's Core 4
rick_ferris_core = pd.DataFrame(
    columns=['VTSAX','VTIAX','VNQ','VBTLX'],
    data=[[48,24,8,20]],
    index=[portfolio_start_date]
)

# Save to PKL

dataframe = rick_ferris_core
output = open(Path('./Resources/rick_ferris_core.pkl'), 'wb')
pickle.dump(dataframe, output)
output.close()

rick_ferris_core

            VTSAX  VTIAX  VNQ  VBTLX
2013-01-02     48     24    8     20

In [40]:
# Betterment Portfolios
betterment = pd.DataFrame(
    columns=['VFIAX','VVIAX','VTMGX','VEMAX','VIMAX','VSMAX','VIPSX','VSBSX'],
    data=[[15,15,15,6,5,4,20,20]],
    index=[portfolio_start_date]
)

# Save to PKL

dataframe = betterment
output = open(Path('./Resources/betterment.pkl'), 'wb')
pickle.dump(dataframe, output)
output.close()

betterment

            VFIAX  VVIAX  VTMGX  VEMAX  VIMAX  VSMAX  VIPSX  VSBSX
2013-01-02     15     15     15      6      5      4     20     20

In [51]:
# IRA Contribution limits

today = date.today()
dates = pd.date_range(start='2012-01-01',end=today, freq='BAS')

ira_contribution_limits = pd.DataFrame(
    index=dates, 
    data=[5000, 5500, 5500, 5500, 5500, 5500, 5500, 6000, 6000, 6000, 6000],
    columns=['ira_limit']
)

# Save to PKL

dataframe = ira_contribution_limits
output = open(Path('./Resources/ira_contribution_limits.pkl'), 'wb')
pickle.dump(dataframe, output)
output.close()

ira_contribution_limits.head()

            ira_limit
2012-01-02       5000
2013-01-01       5500
2014-01-01       5500
2015-01-01       5500
2016-01-01       5500

In [21]:
# all_portfolios = [
#     vanguard_total_stock_etf,
#     fidelity_index_focused_models,
#     rick_ferris_core,
#     betterment
# ]